<!DOCTYPE html>
<html>
<body>
<!-- menu -->
<% include par/head%>

<% include par/nav%>
<!-- menu -->

<div class="container-fluid">
<div id="wrap">


<!-- 行-->
<div class="row">

<!-- col12  -->
<div class="col-sm-12" style="background-color:blue">
<div align="center">
<br>
<%if(title){%>
<%= title %>
<% } else {%>
no title
<% }%>


</div><!-- /col12-->
</div><!-- /center-->
</div><!-- /wrap-->
</div><!-- /container-fluid-->

<!--上段ここまで-->

<!--フッター-->
<div class="col-md-12" style="background-color:black">

<!--FOOT-->

<% include par/foot %>
<!--FOOT-->

</div><!-- /-->
</div><!-- /col12-->

</body>
</html>

