<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!-- menu -->
<% include par/nav %>
<!-- menu -->

<div id="container-fluid">
<div id="wrap">

<!-- 行-->
<div class="row">

<!-- col1 -->
<div class="well col-sm-1 hidden-xs">
</div><!-- /col1 -->
<!-- col1 -->

<!-- col7  -->
<div class="well col-sm-7" style="color:black">

<!-- news -->
<% include par/news %>
<div align="left">
</div><!-- /left -->
<!-- news -->

</div><!-- /col7 -->


<!-- col3 -->
<div class="well col-sm-3" style="background-color:white">

<a class="twitter-timeline" data-width="450" data-height="600" href="https://twitter.com/axell_official?ref_src=twsrc%5Etfw">Tweets by axell_official</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div><!-- /col3-->

<!-- col1 -->
<div class="well col-xs-1 hidden-xs">
</div><!-- /col1-->

</div><!-- /warp -->
</div><!-- /container-fluid -->

<!-- /上段ここまで -->

<!-- /フッター -->
<div class="col-xs-12" style="background-color:black">
<br>

<!--FOOT-->
    <% include par/foot %>
<!--FOOT-->

</div> <!-- /row -->
</div><!-- /col12-->

</body>
</html>
