<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div id="container-fluid">

<!--ここから -->

<!-- 行-->
<div class="row">
	
<!-- col1 -->
<div class="well  col-sm-2 hidden-xs"></div> <!-- /col1 -->

<!-- col10 -->
<div class="well col-md-8" style="color:black">
<% include par/cal %>

</div>


<!--col1-->
<div class="well col-sm-2 hidden-xs"></div><!-- /col1 -->


</div><!--row-->


<!-- ここまで-->

<hr>




<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<br>

<!--FOOT-->	
<% include par/foot %>
<!--FOOT-->

</div><!-- /col12-->

</body>
</html>

