<!DOCTYPE html>
<html>
<% include par/head %>
<body>


<!--menu-->
<% include par/nav %>
<!--menu-->


<div id="container-fluid">
<div id="wrap">

<div class="row">

<!--all-->
<% include par/mem/all %>
<!--all-->

</div><!--row-->

<!--上段ここまで-->

<hr>

<!--col12-->

<div class="row">

<div class="well col-sm-12">

<!--prof-->
<% include par/prof%>
<!--prof-->

</div><!--col12-->
<!--/col2-->


</div><!--wrap-->
</div><!--container-->

<!--ここからフッター-->

<!-- col12 -->
<div class="col-xs-12" style="background-color:black">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!--row-->
</div><!-- /col12 -->

</body>
</html>
