<!DOCTYPE html>
<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/shop/nav %>
<!--menu-->

<div id="container-fluid">
<div id="wrap">
<div class="row">
<div class="well col-md-8 col-xs-12" style="color:black">

<button id="paidy-checkout-button" onclick="paidyPay()">Paidy</button>
<script type="text/javascript" src="https://apps.paidy.com/"></script>
<script src="son/load.js"></script>


</div>
</div><!--row-->

</div><!-- /container -->

<!--ここからフッター-->

<!-- col12 -->
<div class="col-xs-12" style="background-color:black">
<br>

<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!--row-->
</div><!-- /col12 -->

</body>

