<html>
<% include par/head %>
<body>


<!--menu-->
<% include par/nav%>
<!--menu-->


<div id="container-fluid">
<div id="wrap">

<!--s-->
<div class="row">

<!--col1-->
<div class="well col-sm-1 hidden-xs"></div>
<!--col1-->

<!--col7-->
<div class="well col-sm-10">

<!--schedule-->
<% include par/sche %>
<!--schedule-->
</div>

<!--col1-->
<div class="well col-sm-1 hidden-xs"></div>
<!--col1-->


!--FOOT-->
<% include par/foot %>

</div><!-- /center-->
</div><!-- /warp-->
</div><!--/row-->

</body>
</html>
