<!DOCTYPE html>

<html>
<% include par/head %>
<body>

<!--menu-->
<% include par/nav %>
<!--menu-->

<div class="container-fluid">

<!--行-->
<div class="row">

<!--col1-->
<div class="well col-sm-1 hidden-xs"></div>
<!--col1-->


<!--col10-->
<div class="well col-sm-10" style="color:black">     
<br>


<!--ここから-->
<% include par/vid %>
<!--ここまで-->

</div><!-- col10-->
        

<div class="well col-sm-1 hidden-xs"></div>
</div><!-- row-->

</div><!-- cont-->


<!--フッター-->
<div class="col-sm-12" style="background-color:black">


<!--FOOT-->
<% include par/foot %>
<!--FOOT-->

</div><!--/col12-->
</div><!--/cot-->


</body>
</html>
