<head>
<% include head %>
</head>
<body>
<div id="wrapper">

<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
<tbody>

<tr>
<td align="center">

<% include menu %>
</td></tr>

<tr>

<td height="640" align="left" valign="top">

  <div class="title5"><img src="img/EK.png" width="32" height="32" alt=""/> CONTACT</div>
<div class="style2">

<section class="section">

<h2>
<div class="title4" align="center">
お問い合わせ
</div>
</h2>
<br>
<form method="POST">
<dl>
<dt>お名前 (必須)</dt>
<dd><input type="text" name="name" required></dd>
<dt>タイトル (必須)</dt>
<dd><input type="text" name="sub" required></dd>
<dt>メールアドレス (必須)</dt>
<dd><input type="email" name="mail" required></dd>
<dt>お問い合わせ内容</dt>
<dd><textarea rows="5" cols="50" name="message" required></textarea></dd>
</dl>
<div class="btnWrap">
<button type="submit" class="button">送信する</button>
</div>
</form>
</section>

</td>
</tr>

<tr>
<td align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top">

<br>
</div>
   </td>
  </tr>
</tbody>
      </table>
</td>
    </tr>

<% include foot %>
  </tbody>
</table>

	</div>

</body>

