<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet"> 



<!-- meta -->
<meta charset="utf-8">
<!-- //jQuery -->
<script src="js/fade.js"></script>
<title>AXELL OFFICIAL SITE</title>
</head>

<body>

<div id="container-fluid">

<!-- menu -->
<div id="discdeteil"></div>
<script src="par/disc/discdeteil.js"></script>
</div>　<!-- nav〆-->


<!-- 行-->
<div class="row">

<!-- col1 -->
<div class="well col-sm-1">
</div><!-- col11 〆 -->


<!-- col10 -->
<div class="well col-sm-10">

<!-- menu -->
<div id="disc"></div>
<script src="par/disc/tms355.js"></script>
</div>　<!-- nav〆-->

</div><!-- col10 〆 -->


<!-- col1 -->
<div class="well col-sm-1">
</div><!-- col11 〆 -->

<!--ここまで--> 


<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<div id="foot"></div><!-- /nav-->
<script src="par/foot.js"></script>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>

