<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="css/dis.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet"> 

<!-- meta -->
<meta charset="utf-8">

<!-- //jQuery -->
<script src="js/fade.js"></script>
<title>AXELL OFFICIAL SITE</title>
</head>


<body>

<div id="container-fluid">
<div class="row">

<!-- menu -->
<div id="nav"></div><!-- /nav-->
<script src="par/nav.js"></script>
<!-- menu -->

<!-- 行-->

<!-- col1 -->
<div class="well col-lg-1 hidden-xs">
    left
</div><!-- /col11 -->

<!-- col12  -->
<div class="well col-lg-10"  >

<div class="well col-lg-3" >
<!-- menu -->
<div class="text-center" id="341"></div>
<script src="par/disc/341.js"></script>
<!-- menu -->
</div>

<div class="well col-lg-3">
<!-- menu -->
<div class="text-center" id="333"></div><!-- /nav-->
<script src="par/disc/333.js"></script>
<!-- menu -->
</div>

<div  class="well col-lg-3">
<div class="text-center" id="334"></div><!-- /nav-->
<script src="par/disc/334.js"></script>
<!-- menu -->
</div>

<div class="well col-lg-3">
<div class="text-center" id="328"></div><!-- /nav-->
<script src="par/disc/bk.js"></script>
<!-- menu -->
</div>

<!-- lg-8 -->
</div>


<!-- col1 -->
<div class="well col-lg-1 hidden-xs">
</div><!-- /col1-->


</div> <!-- /row -->
</div><!-- /container -->



<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->

<div id="foot"></div><!-- /nav-->
<script src="par/foot.js"></script>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>
