<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="keywords" content="AXELL,アクセル,ボーイッシュガールズグループ,THE HOOPERS,風男塾,ケイダッシュ・ステージ,千知,LEE,詩音,碧,翔,JOL原宿,ばなにゃ,アニメ" />
<meta name="description" content="AXELLオフィシャルサイト" />
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="viewport" content="width=1240">
<meta property="og:type" content="website" />
<meta property="og:url" content="http://tmsmusic.tokyo/axellcd" />
<meta property="og:image" content="http://tmsmusic.tokyo/axellcd/img/logo.jpg" />
<meta property="og:title" content="AXELL" />
<meta property="og:site_name" content="AXELL" />
<meta property="og:description" content="AXELLオフィシャルサイト" />
<meta property="og:type" content="website" />
<script type="application/ld+json">
{
"@context": "http://schema.org",
  "@type": "MusicGroup",
"name":"AXELL",
 "url": "http://axe.tmsmusic.tokyo",
"sameAs":[
"https://ja.wikipedia.org/wiki/AXELL",
"https://musicbrainz.org/artist/cb8c4506-3eb3-472e-b71f-d659583c3c7f",

],
"image":[
"http://tmsmusic.tokyo/axell/img/20171017_HP_top.jpg",
"http://tmsmusic.tokyo/axell/img/logo.jpg"
],
"track": [{
    "@type": "MusicRecording",
"name":"CALLNG"
},{
    "@type": "MusicRecording",
"name":"see you tomorrow"
},{
    "@type": "MusicRecording",
"name":"lacky holiday"
},{
    "@type": "MusicRecording",
"name":"DO THE BEST"
},{
    "@type": "MusicRecording",
"name":"special adventure"
}],
"memberOf":[{
"@type":"Organization",
"legalName":"tms music",
"email":"tmsm2011@gmail.com",
"logo":"https://pbs.twimg.com/profile_images/793385897462902784/-F0Kz2Ep_400x400.jpg"
},{
"@type":"Organization",
"legalName":"tms music"
}]
}

</script>
<!-- jQuery -->
<script src="http://www.google.com/jsapi"></script>
<script>google.load("jquery", "1.7.1");</script>
<script type="text/javascript">google.load("jquery", "1.2.6");</script>
<!-- //jQuery -->
<script type="text/javascript" src="js/fade.js"></script>
<title>axell</title>
