<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet"> 

<!-- meta -->
<meta charset="utf-8">

<!-- //jQuery -->
<script src="js/fade.js"></script>
<title>AXELL OFFICIAL SITE</title>
</head>


<body>
<!-- menu -->
<div id="nav"></div><!-- /nav-->
<script src="par/nav.js"></script>
<!-- menu -->

<div class="container-fluid">
<div id="wrap">


<!-- 行-->
<div class="row">

<!-- col12  -->
<div class="col-sm-12" style="background-color:white">
<div align="center">
<img class="img-responsive" src="img/ban/top.png"  width="" height="656" style="" alt=""/></div>
<br>
</div><!-- /col12-->
</div><!-- /center-->
</div><!-- /wrap-->
</div><!-- /row-->
</div><!-- /container-fluid-->

<!--上段ここまで-->

<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<div id="foot"></div><!-- /nav-->
<script src="par/foot.js"></script>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>

