<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet"> 



<!-- meta -->
<meta charset="utf-8">
<!-- //jQuery -->
<script src="js/fade.js"></script>
<title>AXELL OFFICIAL SITE</title>
</head>


<body>

<div id="container-fluid">

<!-- menu -->
<div id="nav"></div><!-- /nav-->
<script src="par/nav.js"></script>

<!-- 行-->
<div class="row">

<!-- col1 -->
<div class="col-sm-1 hidden-xs">
</div><!-- /col1 -->

<!-- col10 -->
<div class="col-sm-10">

<!-- info -->
<div id="inf"></div>
<script src="par/info/inf.js"></script>

<!-- guideline-->
<div id="info0000"></div>
<script src="par/info/inf0000.js"></script>
<!-- guideline -->

<!----更新記事--------------------------------------------------------------------------------------------->

<!-- 0322info -->
<div id="info0322"></div>
<script src="par/info/inf0322.js"></script>

<!-- 0217info -->
<div id="info0217"></div>
<script src="par/info/inf0217.js"></script>

<!----更新記事--------------------------------------------------------------------------------------------->

<!----past------------------------------------------------------------------------------------------------>

<section>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">2018年 </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
        
<!-- 2018 -->
<div id="info2018"></div>
<script src="par/info/info2018.js"></script>
<!-- 2018 -->
        </div>
      </div>
    </div>
<!---------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">2017年 </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">

<!-- 2017 -->
<div id="info2017"></div>
<script src="par/info/info2017.js"></script>
<!-- 2017 -->
        </div>
      </div>
    </div>
<!---------------------------------------------------------------------------------------------------->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title accordion-toggle">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">2016年以前 </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body"> 

<!-- 2016 -->
<div id="info2016"></div>
<script src="par/info/info2016.js"></script>
<!-- 2016 -->

        </div>
      </div>
    </div>
  </div><!-- /panel panel-default -->
</section>

</div><!-- /col10 -->

<!---------------------------------------------------------------------------------------------------->

<!-- col1 -->
<div class="col-sm-1 hidden-xs">
</div><!-- /col1 -->

<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<div id="foot"></div><!-- /nav-->
<script src="par/foot.js"></script>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>