<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="css/kit.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Martel+Sans" rel="stylesheet"> 


<!-- meta -->
<meta charset="utf-8">
<!-- //jQuery -->
<script src="js/fade.js"></script>
<title>AXELL OFFICIAL SITE</title>
</head>

<body>

<div id="container-fluid">

<!-- menu -->
<div id="nav"></div><!-- /nav -->
<script src="par/nav.js"></script>
<!-- menu -->

<!-- 行-->
<div class="row">

<!-- col1 -->
<div class="col-sm-1 hidden-xs">
</div><!-- /col11 -->


<!-- col6  -->
<div class="col-sm-6" style="background-color:glay">
<div align="left">

<!-- menu -->
<div id="news"></div><!-- /news -->
<script src="par/news.js"></script>
<!-- menu -->

</div><!-- /left -->
</div><!-- /col6 -->

<!-- col1 -->
<div class="col-sm-1 visible-lg">
</div><!-- /col11 -->


<!-- col3 -->
<div class="well col-sm-3" style="background-color:white">
<div align="left"></div><!-- /left-->

<div align="right">
<a class="twitter-timeline" data-width="450" data-height="600" href="https://twitter.com/axell_official?ref_src=twsrc%5Etfw">Tweets by axell_official</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div><!-- /right-->
</div><!-- /col3-->

<!-- col1 -->
<div class="col-sm-1 visible-lg">
</div><!-- /col1-->

</div> <!-- /row -->
</div><!-- /container -->


<!--フッター-->
<div class="col-sm-12" style="background-color:black">
<div align="center">
<br>

<!--FOOT-->
<div id="foot"></div><!-- /nav-->
<script src="par/foot.js"></script>
<!--FOOT-->

</div><!-- /center-->
</div><!-- /col12-->

</body>

