<head>
<% include head %>
</head>
<body>
<div id="wrapper">

<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
<tbody>

<tr>
<td align="center">

<% include menu %>
</td></tr>

<tr>
<td>
  <div class="title5"><img src="img/logo.png" width="32" height="32" alt=""/> SCHEDULE</div>


<!--ここから-->
<div class="style2">
<div class="title4">LIVE/EVENT</div>
<br>

2018.02.17  AXELLイベント (JOL原宿）<img src="img/icon_new.gif" alt="NEW" width="30" height="11"><br>
<S>2018.01.14  AXELLと新年会スペシャル (JOL原宿）</S>※中止 <br>
2018.01.02  ザ・フーパーズ TOUR FANTASIA 2017/2018（オープニングアクト）<br>
<br>
2017.12.16  サンタAXELLと一足早いクリスマス会スペシャル (JOL原宿）<br>
2017.11.12　ライブ収録有り！大人AXELLと秋のステージ（JOL原宿）<br>
2017.10.08　Leeバースデーイベント（JOL原宿）<br>
2017.09.30　AXELL 夏の4番勝負！（JOL原宿）<br>
2017.09.16　AXELL 夏の4番勝負！（JOL原宿）<br>
2017.08.29　AXELL 夏の4番勝負！（JOL原宿）<br>
2017.08.22　AXELL 夏の4番勝負！（JOL原宿）<br>
2017.05.14　フレッシュAXELLと5月病を吹き飛ばせスペシャル！（JOL原宿）<br>
2017.04.09　AXELLと一緒に春を満喫しようスペシャル！（JOL原宿）<br>
2017.03.12　AXELLから愛のお返し ホワイトデースペシャル！（JOL原宿）<br>
2017.01.07　酉年2017！ひよこAXELLとNEW YEAR PARTY！（JOL原宿）<br><br>

2016.11.05　睡眠の秋☆AXELLといい夢見ようスペシャル（JOL原宿）<br>
2016.10.10　Leeバースデーイベント！！（JOL原宿）<br>
2016.09.11　AXELL 夏の7番勝負追加公演！新学期もAXELLと一緒に頑張ろう！スペシャル☆（JOL原宿）<br>
2016.08.31　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.08.24　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.08.17　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.08.10　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.08.03　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.07.27　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.07.20　AXELL 夏休み7番勝負（JOL原宿）<br>
2016.05.24　『NEXT-ONE!! inBLITZ』※詩音＆Lee 出演（赤坂BLITZ）<br>
2016.04.24　AXELLイベント（JOL原宿）<br>
2016.01.30　AXELLの大冒険！Vol.1（JOL原宿）<br>
2016.01.03　New Year Party!!! （JOL原宿）<br><br>

2015.12.26　AXELLライブステージ～会場限定両A面シングルの発売日イベント～（JOL原宿）<br>
2015.11.01　JOL原宿presents AXELL＆JMC(じゅみっち)ミニライブ（JOL原宿）<br>
2015.09.26　JOL原宿presents AXELL＆ZOLA対バンイベント（JOL原宿）<br>
2015.08.15　JOL原宿presents AXELL&原宿忍者（仮）ミニライブ（JOL原宿）<br>
2015.07.24　JOL原宿presents AXELL&原宿忍者（仮）ミニライブ（JOL原宿）<br>
2015.04.06　『アクセルどらま！～青春のSHOOTING STAR～』発売記念ミニライブ＆握手会（JOL原宿）<br>

				<div class="foot1">2017.12.26</div></div>
<!--ここまで-->  


</td>

</tr>

<tr>
<td align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top">
<br>
   </td>

  </tr>

</tbody>
      </table>
</td>
    </tr>

<% include foot %>
  </tbody>
</table>

	</div>

</body>

