<head>
<% include head %>
</head>
<body>
<div id="wrapper">

<table width="980" border="0" align="center" cellpadding="0" cellspacing="0">
<tbody>

<tr>
<td align="center">

<% include menu %>
</td></tr>

<tr>

<td height="640" align="left" valign="top">
             
<div class="title5"><img src="img/logo.png" width="32" height="32" alt=""/> VIDEO</div>
<div class="style2">


<!--ここから-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr><td>
<td width="490" align="left" valign="top"><iframe width="480" height="270" src="https://www.youtube.com/embed/Di2Z0_2EGro" frameborder="0" allowfullscreen></iframe></td>
<td align="left" valign="top"><span class="title2">ラッキーホリデー/AXELL With ばなにゃ　MUSIC VIDEO short</span><br>                    
2016.08.30 公開
<br></td>
<br>
<!--ここまで-->


<!--ここから-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr><td>
<td width="490" align="left" valign="top"><iframe width="480" height="270" src="https://www.youtube.com/embed/B7AdZD5uZPs" frameborder="0" allowfullscreen></iframe></td>
<td align="left" valign="top"><span class="title2">ラッキーホリデー/AXELL With ばなにゃ （ダンスver）（TVアニメ「ばなにゃ」EDテーマ）</span><br>                    
2016.08.12 公開
<br></td>
<br>
<!--ここまで-->


<!--ここから-->
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr><td>
<td width="490" align="left" valign="top"><iframe width="480" height="270" src="https://www.youtube.com/embed/DuPRYhdunNg" frameborder="0" allowfullscreen></iframe></td>
<td align="left" valign="top"><span class="title2">AXELL ラッキーホリデー/AXELL With ばなにゃTVspot（TVアニメ「ばなにゃ」EDテーマ）</span><br>                    
2016.07.04 公開
<br></td>
<br>
<!--ここまで-->


</tr>
</tbody>
</table>
</div></td>

</tr>

<tr>
<td align="center">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td align="left" valign="top">


<br>



   </td>

  </tr>

</tbody>
      </table>
</td>
    </tr>

<% include foot %>
  </tbody>
</table>

	</div>

</body>

